[submodule "nskmask"]
	path = nskmask
	url = https://github.com/1shialeto/nskmask
[submodule "gm_metrostroi_717_nsk_routenumbers"]
	path = gm_metrostroi_717_nsk_routenumbers
	url = https://github.com/TheFUlDeep/gm_metrostroi_717_nsk_routenumbers
[submodule "gm_metrostroi_717_black_route_numbers"]
	path = gm_metrostroi_717_black_route_numbers
	url = https://github.com/TheFUlDeep/gm_metrostroi_717_black_route_numbers
[submodule "gm_metrostroi_717_clear_white_route_numbers"]
	path = gm_metrostroi_717_clear_white_route_numbers
	url = https://github.com/TheFUlDeep/gm_metrostroi_717_clear_white_route_numbers
